<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/login" method="post">
        <label for="login">Login content</label><br/><br/>
      <input name="username" type="text" class="form-control"placeholder="username"required/><br/>
     <input name="password" type="password" class="form-control"placeholder="password"required/> <!--esme password error tha ohi type me.-->
     <button>Submit</button>
    </form>
</body>
</html>